@media (max-width: 768px) {
    .logo {
        padding-left: 10px;
    }

    .intro {
        flex-direction: column;
    }

    .about-img  {
        margin: 0 auto;
    }

    .intro .intro-txt {
        margin: 0 auto;
    }
    
    .contents {
        flex-direction: column;
    }

    .content {
        margin: 0 auto;
    }

    .txt-contents {
        padding-bottom: 30px;
    }
}
