a {
    text-decoration: none;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN';
}

.header-left {
    float: left;
}

.logo {
    height: 40px;
    width: 120px;
    padding: 5px 25px;
}

.header-right {
    float: right;
}

.header-right li {
    list-style: none;
    display: inline-block;
}

.header-right a {
    font-size: 14.5px;
    padding-right: 25px;
    color: black;
}

.header-right a:hover {
    opacity: 0.7;
}

footer {
    font-size: 8px;
    text-align: center;
}
