* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN';
}

header {
    width: 100%;
    height: 60px;
}

.container {
    max-width: 858px;
    width: 100%;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.logo {
    height: 40px;
    width: 120px;
    margin: 10px 0;
}

.header-right {
    float: right;
}

.header-right a {
    font-size: 14px;
    color: black;
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
}

.header-right a:hover {
    opacity: 0.7;
}

.main-visual {
    height: 600px;
    background-image: url(img/mainvisual.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.about {
    max-width: 528px;
    width: 100%;
    margin: 0 auto;
}

.about h2 {
    font-size: 32px;
    border-bottom: 1px solid black;
    padding-top: 50px;
    width: 106px;
    margin: 0 auto;
}

.intro {
    text-align: left;
    display: flex;
    margin: 50px 0;
}

.about-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.intro-txt {
    margin-left: 30px;
}

.intro-txt h3 {
    font-size: 16px;
}

.intro-txt p {
    font-size: 14px;
}

.bicycle h2 {
    font-size: 32px;
    border-bottom: 1px solid black;
    padding-top: 50px;
    width: 122px;
    margin: 0 auto;
}

.contents{
    display: flex;
    padding: 70px 0;
}

.contents img {
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.txt-contents {
    text-align: center;
}

.txt-contents h3 {
    font-size: 16px;
}

.txt-contents p {
    font-size: 14px;
}

footer {
    font-size: 8px;
    text-align: center;
}
